.container {
    min-height: 100vh;
    text-align: center;
}

.container h1,
.link-page {
    position: relative;
    top: 30vh;
}

.container img {
    height: 48px;
}

.divider {
    width: 50%;
    height: 2px;
    background-color: #ddd;
    margin: 0 auto;
    position: relative;
    top: 14em;
}

.index h2 {
    position: relative;
    top: 10em;
    font-size: 24px;
    color: grey;
}

.link-page {
    width: 50%;
    margin: 4em auto;
    overflow-x: auto;
}

.link-page ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.link-page ul li {
    margin: auto 8px;
}
.link-page ul li a {
    width: max-content;
}